@use '../abstracts/mixins' as *;

.card-dropdown {
    position: relative;
    overflow: hidden;
    flex-basis: 100%;

    @media ($above-tablet) {
        flex-basis: calc(20% - 2rem);
    }    

    .card-dropdown--content {
        max-height: 0;
        overflow: hidden;
        padding-top: 0rem;
        transition: padding-top .5s cubic-bezier(0.68, -0.55, 0.27, 1.55), max-height 1s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
    }

    .card-dropdown--toggle {

        a.wp-block-button__link {
            height: 2.5rem;
            width: 2.5rem;
            padding: 0 !important;
            font-size: 0;
            display: grid;
            justify-content: center;
            align-items: center;

            &::after {
                margin-left: 0;
                rotate: -180deg;
                translate: 0px -5px;
                transition: rotate .5s ease-in-out;
                height: 1.5rem;
                width: 1.5rem;
                mask-image: url(./assets/icons/icon-arrow-up.svg);
            }
            
        }

        &:hover {
            cursor: pointer;
        }

    }

    &.active {

        .card-dropdown--content {
            //transition: padding-top 5s ease, padding-bottom 5s ease, max-height 5s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
            max-height: 100vh;
            padding-top: 1.5rem;
        }

        a.wp-block-button__link::after {
            rotate: 0deg;
        }
    }
}

.card-service {
    position: relative;
    transition: transform .5s ease-in-out;
        
    &:hover {
        transform: translateY(-1rem);
    }
}