<!-- wp:template-part {"slug":"header","tagName":"header","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"metadata":{"name":"Hero"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"spacing":{"padding":{"top":"12rem","bottom":"var:preset|spacing|80"}}},"backgroundColor":"foreground","textColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background-color has-foreground-background-color has-text-color has-background has-link-color" style="padding-top:12rem;padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"}}} -->
<p style="text-transform:uppercase">Error 404</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":1,"fontSize":"display"} -->
<h1 class="wp-block-heading has-display-font-size">Ups! Página no encontrada</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"subtitle"} -->
<p class="has-subtitle-font-size">No hemos encontrado lo que buscas.<br>Por favor prueba a hacer nueva búsqueda o pincha para volver a la homepage.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"neutral-white","textColor":"foreground","className":"is-style-with-arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} -->
<div class="wp-block-button is-style-with-arrow"><a class="wp-block-button__link has-foreground-color has-neutral-white-background-color has-text-color has-background has-link-color wp-element-button" href="https://viral.sumun.net/comin/">Homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"uncategorized","className":"mt-0 "} /-->