<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"article","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<article class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:cover {"overlayColor":"foreground","isUserOverlayColor":true,"minHeight":656,"tagName":"header","metadata":{"name":"Hero"},"style":{"spacing":{"padding":{"right":"0","left":"0","top":"10rem","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<header class="wp-block-cover" style="padding-top:10rem;padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;min-height:656px"><span aria-hidden="true" class="wp-block-cover__background has-foreground-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"}},"fontSize":"small"} -->
<p class="has-small-font-size" style="text-transform:uppercase">Blog de asesoría y gestoría</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"fontSize":"display"} /-->

<!-- wp:spacer {"height":"32px"} -->
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"900px","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-excerpt {"fontSize":"subtitle"} /--></div>
<!-- /wp:group --></div></header>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content"},"layout":{"type":"constrained","contentSize":"900px"}} -->
<main class="wp-block-group"><!-- wp:post-content /-->

<!-- wp:group {"metadata":{"name":"Autor box"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-white"}}},"border":{"radius":"8px"}},"backgroundColor":"neutral-100","textColor":"neutral-white","layout":{"type":"default"}} -->
<div class="wp-block-group has-neutral-white-color has-neutral-100-background-color has-text-color has-background has-link-color" style="border-radius:8px"><!-- wp:post-author {"showBio":true,"byline":"Autor","isLink":true} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}},"backgroundColor":"neutral-60"} -->
<hr class="wp-block-separator has-text-color has-neutral-60-color has-alpha-channel-opacity has-neutral-60-background-color has-background is-style-wide" style="margin-top:var(--wp--preset--spacing--70)"/>
<!-- /wp:separator -->

<!-- wp:group {"metadata":{"name":"Paginationn"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","fontSize":"subtitle"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow","fontSize":"subtitle"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-wide","backgroundColor":"neutral-60"} -->
<hr class="wp-block-separator has-text-color has-neutral-60-color has-alpha-channel-opacity has-neutral-60-background-color has-background is-style-wide"/>
<!-- /wp:separator --></article>
<!-- /wp:group -->

<!-- wp:block {"ref":510} /-->

<!-- wp:template-part {"slug":"footer","tagName":"","area":"uncategorized","className":"mt-0"} /-->